@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

@layer components {
  /* Containers */
  .main-container {
    @apply container mx-auto px-4 lg:px-0 lg:w-[800px];
  }

  /* Text */
  .logo-text {
    @apply tracking-widest font-CrimsonPro;
  }
  .additional-text {
    @apply font-light opacity-60;
  }
  .title-2xl {
    @apply text-2xl font-bold text-textColor-light;
  }
  .title-xl {
    @apply text-2xl font-bold text-textColor-light;
  }

  /* Hover Effect */
  .hover-text {
    @apply transition-all opacity-90 hover:opacity-100;
  }
  .hover-logo {
    @apply transition-all hover:scale-110;
  }
  .hover-link {
    @apply text-xs transition-all text-textColor-light/70 hover:text-textColor-light hover:underline;
  }

  /* Buttons */
  .main-button {
    @apply px-8 py-3 text-xs uppercase transition-all rounded-sm text-textColor-dark/90 hover:text-textColor-dark bg-bgColor-dark hover:px-9;
  }
  .main-button-white {
    @apply px-8 py-2 text-xs uppercase transition-all rounded-sm text-textColor-light bg-[#fafafa] hover:px-9;
  }
  .main-button:disabled:hover {
    /* hover 효과가 없도록 스타일 설정 */
    @apply hover:px-8 hover:font-normal;
  }
}
